<div style="background-image: url('<%= asset_path('DJmarketplace_homepage.svg') %>'); background-size: 100%; background-repeat: no-repeat; background-position: left; height: 400px; display: flex; align-items: center; padding-left: 100px; color: #37382D;">
  <div>
    <h1 class="display-2">DJ Matchr</h1>
    <p class="fs-3 my-4">Bringing DJs and parties together</p>
    <a href="/users/sign_in" class="btn btn-primary btn-lg mr-3">Log in</a>
    <a href="/djs" class="btn btn-secondary btn-lg">Browse DJs</a>
  </div>
</div>

<div class="container mt-4">
  <div>
    <p class="lead">
      DJ Matchr is a cutting-edge app connecting event organisers with talented DJs. Users can easily search for DJs based on music styles, genres, price, and location.
    </p>
    <p class="lead">
      DJs create detailed profiles showcasing their experience and mixes, making it simple for clients to find their ideal match.
    </p>
    <p class="lead">
      Say goodbye to limited options and tedious searches; with DJ Matchr, every event becomes an unforgettable musical experience.
    </p>
    <p class="lead">
      Trust DJ Matchr as your ultimate DJ connection app for a small gathering or a grand celebration.
    </p>
  </div>
</div>
